body {
  font-family: monospace;
  font-size: 12px;
}

.item {
  margin: 5px;
  background: tomato;
  text-align:center;
  font-size: 1.5em;
}

.grid {
  display: grid;

  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
}

.grid-auto-columns {
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.grid-auto-columns-1 {
  grid-template-columns: 100px 100px;
  grid-auto-columns: 50px 100px;
}

.grid-auto-columns-1 > .item-6-1 {
  grid-column: 6;
}

.grid-auto-columns-2 {
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
} 